# Executables
*.exe
*.out
liste

# Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor and IDE files
.vscode/
.vs/
*.swp
*.swo
*~
.DS_Store

# Temporary files
*.tmp
*.temp
